	/* Effects delays */
	.zp-grid-wrapper .zp-effect-delay.zp-effect-active div:nth-child(2) a {
		-webkit-animation-delay: 0.1s;
		animation-delay: 0.1s;
	}

	.zp-grid-wrapper .zp-effect-delay.zp-effect-active div:nth-child(3) a {
		-webkit-animation-delay: 0.2s;
		animation-delay: 0.2s;
	}

	.zp-grid-wrapper .zp-effect-delay.zp-effect-active div:nth-child(4) a {
		-webkit-animation-delay: 0.3s;
		animation-delay: 0.3s;
	}

	.zp-grid-wrapper .zp-effect-delay.zp-effect-active div:nth-child(5) a {
		-webkit-animation-delay: 0.4s;
		animation-delay: 0.4s;
	}

	.zp-grid-wrapper .zp-effect-delay.zp-effect-active div:nth-child(6) a {
		-webkit-animation-delay: 0.5s;
		animation-delay: 0.5s;
	}