	/* Scale and rotate */
	.zp-effect-scalerotate.zp-effect-active div:not(.zp-empty) a:first-child {
		-webkit-animation: scaleRotateOut 0.6s forwards;
		animation: scaleRotateOut 0.6s forwards;
	}

	.zp-effect-scalerotate.zp-effect-active div a:nth-child(2),
	.zp-effect-scalerotate.zp-effect-active div.zp-empty a {
		opacity: 0;
		-webkit-animation: scaleRotateIn 0.6s forwards;
		animation: scaleRotateIn 0.6s forwards;
	}

	.zp-effect-scalerotate.zp-effect-active div:not(.zp-empty) a:only-child {
		-webkit-animation: fadeOut 0.6s forwards;
		animation: fadeOut 0.6s forwards;
	}

	.zp-effect-scalerotate div:nth-child(-n+3) { z-index: 2; } /* order for correct overlapping */
	.zp-effect-scalerotate div:nth-last-child(-n+3) { z-index: 1; }