/* Gallery grid(begin) */
.galereya-grid {
    position: relative;
    top: 50px;

    width: 100%;
    height: 100%;
    margin: auto;
}

.galereya-cell {
    position: absolute;

    display: none;
    overflow: hidden;

    width: 150px;
    padding: 0 1px; /* Webkit padding on transition fix */

    cursor: pointer;
}

.galereya-cell-img,
.galereya-cell-desc {
    width: 100%;
}

.galereya-cell-img {
    display: block;

    width: 150px;

    image-rendering: optimizeSpeed;
}

.galereya-cell-desc {
    font-size: 10pt;

    position: absolute;
    left: 0;
    bottom: 0;

    display: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 10px;

    text-align: center;

    color: #fff;
    background: rgba(0, 0, 0, .9);
    opacity: 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.galereya-cell-desc-title {
    font-weight: bold;
}

.galereya-cell-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    overflow: hidden;

    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-box-shadow: inset 0 0 10px 3px #000;
    box-shadow: inset 0 0 10px 3px #000;
}

.galereya-cell:hover {
    z-index: 1000;
}

.galereya-cell:hover .galereya-cell-desc {
    bottom: 10px;

    opacity: 100;
}

.galereya-cell:hover .galereya-cell-overlay {
    -webkit-box-shadow: inset 0 0 0 0 #000, 0 0 20px 4px #000 !important;
    box-shadow: inset 0 0 0 0 #000, 0 0 20px 4px #000 !important;
}

.galereya-cell.wave .galereya-cell-overlay{
    -webkit-box-shadow: inset 0 0 10px -2px #000;
    box-shadow: inset 0 0 10px -2px #000;
}
/* Gallery grid(end) */
@media only screen and (min-width: 601px) {
    .galereya-cell,
    .galereya-cell-img {
        width: 300px;
    }

    .galereya-cell-desc {
        display: block;
    }
}
