/* Individual modal styles with animations/transitions */
	/* Added animation */
	.team,
	.special-services-box, .columns{
		opacity: 1;	
	}
	.js-columns-ready{
		.team, .special-services-box, .columns{
			opacity: 0;	
		}
	}
	.zp_start_animation.team,
	.zp_start_animation.special-services-box,
	.zp_start_animation.columns{
		-webkit-animation:zp_appear 1s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
		-moz-animation:zp_appear 1s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
		-o-animation:zp_appear 1s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
		animation:zp_appear 1s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
		opacity:1;
		-moz-transform:scale(1);
		-webkit-transform:scale(1);
		-o-transform:scale(1);
		transform:scale(1);
	}
	.js-columns-ready .portfolio_shortcode,
	.js-columns-ready .zp-grid-wrapper{
		opacity: 0;	
	}
	.zp_start_animation.portfolio_shortcode,
	.zp_start_animation.zp-grid-wrapper{
		//-webkit-animation:zp_fadeUp 1s 1 ;
		//-moz-animation:zp_fadeUp 1s 1;
		//-o-animation:zp_fadeUp 1s 1;
		//animation:zp_fadeUp 1s 1;
		opacity: 1;		
	}

	.zp_show{
		-webkit-animation:zp_appear 1s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
		-moz-animation:zp_appear 1s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
		-o-animation:zp_appear 1s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
		animation:zp_appear 1s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
		opacity:1;
		display: block;	
	}
	.zp_hide{
		-webkit-animation:zp_appear 1s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
		-moz-animation:zp_appear 1s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
		-o-animation:zp_appear 1s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
		animation:zp_appear 1s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
		opacity: 1;	
		display: none;	
	}
	.md-effect-18 .md-content {
		-webkit-transform: translateX(200%);
		-moz-transform: translateX(200%);
		-ms-transform: translateX(200%);
		transform: translateX(200%);
		opacity: 0;
	}

	.md-show.md-effect-18 .md-content {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
		-webkit-transition: all 0.5s 0.1s;
		-moz-transition: all 0.5s 0.1s;
		transition: all 0.5s 0.1s;
	}

	