/*--------------------------------------------------------------------------------------------------
    CALL TO ACTION BOX
--------------------------------------------------------------------------------------------------*/
.call_to_action_box {
	margin: 0 0 20px;
	margin: 0 0 2rem;
	overflow: hidden;
	padding: 0 100px;
	padding: 0 10rem;
	text-align: center;
}
.call_to_action_box > h1, .call_to_action_box > h2 {
	margin: 0 0 10px;
	margin: 0 0 1rem;
}
.call_to_action_box > p {
	margin: 0;
	padding: 15px 0;
	padding: 1.5rem 0;
}
h2.cta-title{

}
h2.cta-title-top{

}
h2.cta-title-bottom{
}