/*--------------------------------------------------------------------------------------------------
    Client
--------------------------------------------------------------------------------------------------*/
.client_carousel {
	padding: 0;
	position: relative;
}
.client_carousel a {
	background-color: #FFFFFF;
	border: 1px solid #E9E9E9;
	display: block;
	float: left;
	margin: 0 20px 0 0 !important;
	padding: 0;
}
.caroufredsel_wrapper {
	width: 100% !important;
}