/*------------- COLUMNS ----------------*/
.columns-wrapper {
	width: 100%;
}
.columns-wrapper p {
	margin-bottom: 10px;
	margin-top: 10px;
}
/*.columns {
	float: left;
	margin-right: 2.12766%;
}*/
.columns {
}
.nomargin {
	margin-right:0
}