/* Contact Widget 
------------------------------------------------------------ */ 
.highlight {
	margin: 0 0 5px;
}
p.highlight {
	padding-bottom: 0;
}
/*.phone:before {
	content:url(images/phone.png);
	margin-right:10px;
}
.fax:before {
	content:url(images/fax.png);
	margin-right:10px;
}
.email:before {
	content:url(images/email.png);
	margin-right:10px;
}
.mail:before {
	content:url(images/mail.png);
	margin-right:10px;
}
.skype:before {
	content:url(images/skype.png);
	margin-right:10px;
}*/
.contact-footer-icon{
	text-align: left;
	width: 1.8rem;
	color:#7B8B9D;
	font-size: rem-calc(16);
}