/* eNews and Update Widget 
------------------------------------------------------------ */ 
.enews #subscribe {
	padding: 0;
}
.enews #subbox {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}
.enews-subbox {
	margin: 0 0 10px;
	margin: 0 0 1rem;
}
#subscribe > input {
	margin-top: 10px;
	margin-top: 1rem;
}