/* Like Widget
------------------------------------------------------------ */ 
.entry-header .post_like {
	right: 0;
	top: -2px;
	position: inherit;
	float: none;
	text-align: right;
}
.post_like {
	float: right;
	margin: 0;
//	max-width: 300px;
//	position: relative;
//	right: 40px;
//	top: -48px;
	color:#fff;
	width:100%;
	background-color: #043955;
	padding:0 40px 20px;
}

.post_like p {
	margin: 0;
	text-align: right;
}
.likes span {
	display: inline;
	vertical-align: middle;
}