/* Genesis Twitter Widget 
------------------------------------------------------------ */ 
.widget.latest-tweets .widget-wrap li:before, .widget.latest-tweets .widget-wrap li a:before {
	display: none;
}
.sidebar .latest-tweets ul li, .footer-widgets .latest-tweets ul li {
	margin-bottom: 5px;
	padding: 5px 0;
}
.sidebar .latest-tweets ul li.last, .footer-widgets .latest-tweets ul li.last {
	border-top: medium none ;
	list-style-image: none ;
}
.bottom-widget  .widget.latest-tweets ul {
    list-style: none outside none;
    margin: 0;
}