@-webkit-keyframes moveLeft { 
	50% { opacity: 1; -webkit-transform: translateX(-100%) rotateY(35deg) rotateX(10deg); }
	100% { opacity: 1; -webkit-transform: translateX(0%) rotateY(0deg) rotateX(0deg); }
}

@keyframes moveLeft {
	50% { opacity: 1; transform: translateX(-100%) rotateY(35deg) rotateX(10deg); }
	100% { opacity: 1; transform: translateX(0%) rotateY(0deg) rotateX(0deg); }
}