/* Import Fonts 
 ------------------------------------------------------------ */ 
//@import url(http://fonts.googleapis.com/css?family=Nunito:400,300|Roboto:400,400italic,700,500,300,300italic);

@font-face {
	font-family: "socialicoregular";
	src: url("font/socialico-webfont.eot");
	src: url("font/socialico-webfont.eot?#iefix") format("embedded-opentype"),
		 url("font/socialico-webfont.woff") format("woff"),
		 url("font/socialico-webfont.ttf") format("truetype"),
		 url("font/socialico-webfont.svg#EntypoRegular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'bulletsregular';
	src: url('font/bullets-webfont-webfont.eot');
	src: url('font/bullets-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('font/bullets-webfont-webfont.woff') format('woff'), url('font/bullets-webfont-webfont.ttf') format('truetype'), url('font/bullets-webfont-webfont.svg#bulletsregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'ModernPictogramsNormal';
    src: url('font/modernpics-webfont.eot');
    src: url('font/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/modernpics-webfont.woff') format('woff'),
         url('font/modernpics-webfont.ttf') format('truetype'),
         url('font/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}