/* Forms
--------------------------------------------- */
label {
  color: #131212;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 10px;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="password"],
input[type="search"],
textarea,
select {
  display: block;
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.642857143;
  color: #131212;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  border: 1px solid #131212;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  border-width: 2px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus,
select:focus {
  border-color: #E0BAA8;
  outline: 0;
}
input[type="text"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
textarea:-moz-placeholder,
select:-moz-placeholder {
  color: #131212;
}
input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder {
  color: #131212;
}
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #131212;
}
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: #131212;
}
input[type="text"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="tel"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
textarea[disabled],
select[disabled],
input[type="text"][readonly],
input[type="email"][readonly],
input[type="url"][readonly],
input[type="tel"][readonly],
input[type="password"][readonly],
input[type="search"][readonly],
textarea[readonly],
select[readonly],
fieldset[disabled] input[type="text"],
fieldset[disabled] input[type="email"],
fieldset[disabled] input[type="url"],
fieldset[disabled] input[type="tel"],
fieldset[disabled] input[type="password"],
fieldset[disabled] input[type="search"],
fieldset[disabled] textarea,
fieldset[disabled] select {
  cursor: not-allowed;
  background-color: #e4e4e4;
}
textareainput[type="text"],
textareainput[type="email"],
textareainput[type="url"],
textareainput[type="tel"],
textareainput[type="password"],
textareainput[type="search"],
textareatextarea,
textareaselect {
  height: auto;
}
textarea {
  height: auto;
}
input[type=submit] {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.642857143;
  border-radius: 4px;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  border: 2px solid #131212;
  border-radius: 0;
  padding: 12px 20px 11px;
  color: #ffffff;
  background-color: #131212;
  border-color: #131212;
}
input[type=submit]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input[type=submit]:hover,
input[type=submit]:focus {
  color: #131212;
  text-decoration: none;
}
input[type=submit]:active,
input[type=submit].active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
input[type=submit].disabled,
input[type=submit][disabled],
fieldset[disabled] input[type=submit] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type=submit]:hover,
input[type=submit]:focus,
input[type=submit]:active,
input[type=submit].active,
.open .dropdown-toggleinput[type=submit] {
  color: #ffffff;
  background-color: #131212;
  border-color: #131212;
}
input[type=submit]:active,
input[type=submit].active,
.open .dropdown-toggleinput[type=submit] {
  background-image: none;
}
input[type=submit].disabled,
input[type=submit][disabled],
fieldset[disabled] input[type=submit],
input[type=submit].disabled:hover,
input[type=submit][disabled]:hover,
fieldset[disabled] input[type=submit]:hover,
input[type=submit].disabled:focus,
input[type=submit][disabled]:focus,
fieldset[disabled] input[type=submit]:focus,
input[type=submit].disabled:active,
input[type=submit][disabled]:active,
fieldset[disabled] input[type=submit]:active,
input[type=submit].disabled.active,
input[type=submit][disabled].active,
fieldset[disabled] input[type=submit].active {
  background-color: #131212;
  border-color: #131212;
}
.search-form input[type="submit"] {
	display: none;
}
input[type="search"] {
	background: rgba(0, 0, 0, 0);
	padding-left: 13px;
	width: 100%;
}
::-moz-placeholder {
 color: #131212;
 opacity: 1;
}
::-webkit-input-placeholder {
 color: #131212;
 opacity: 1;
}