/* Header 
 ------------------------------------------------------------ */ 
.site-header {
	width: 100%;
}
.site-header .wrap {
	position: relative;
}
.title-area {
	text-align: center;
	/*width: auto;*/
}
.title-area .site-title {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.title-area .site-title a {
	color: inherit;
	/*font: 300 58px/1.6 'Nunito', sans-serif;*/
	font: 300 34px/1 'Nunito', sans-serif;
	font-size: 34px;
	font-size: rem-calc(34);
}
.title-area .site-title a:hover {
	text-decoration: none;
}
.title-area .site-description {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 2px;
	line-height: 1.2;
	margin: 0;
	text-transform: uppercase;
	color: $tertiary-color;
}
/* Image Header - Partial Width 
 ------------------------------------------------------------ */ 
.header-image .title-area, .header-image .site-title, .header-image .site-title a {
	display: block;
	margin: 0 auto 40px;
	min-width: 300px;
	text-indent: -9999px;
}
.header-image .site-description {
	display: block;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
/* Image Header - Full Width 
 ------------------------------------------------------------ */ 
.header-full-width .site-title-area, .header-full-width .site-title, .header-full-width .site-title a {
	overflow: hidden;
}
/* Primary Menu 
 ------------------------------------------------------------ */ 
 .nav-primary {
	display: inline-block;
	/*float: left;*/
	float: right;
	/*padding: 20px 0;
	padding: 2rem 0;*/
	padding: 0;
	text-align: center;
	/*width: 100%;*/
	margin-right: 50px;
}
.menu-primary {
	clear: both;
	color: #131212;
	line-height: 20px;
	margin: 0 auto;
	overflow: hidden;
	width: auto;

}

.menu-primary ul {
	width: auto;
}

.menu-primary li {
	display: inline-block;
	list-style-type: none;
	position: relative;
}

.menu-primary .sub-menu li {
	display: block;
	text-align: left;
}

.menu-primary a {
	font-size: 14px;
	font-size: rem-calc(14);
	border: 2px solid rgba(0, 0, 0, 0);
	color: #131212;
	letter-spacing: 1px;
	display: block;
	padding: 14px 15px 8px;
	//margin-left: 5px;
	margin-bottom: 0;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.menu-primary li a:active,
.menu-primary li a:hover,
.menu-primary > .current_page_item a,
.menu-primary > .current-cat a,
.menu-primary > .current-menu-item a,
.menu-primary li.dropdown:hover > a {
	color: #131212;
	border: 2px solid #131212;
	background: rgba(0, 0, 0, 0);
}

.menu-primary li.dropdown:hover > a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.menu-primary li li a,
.menu-primary li li a:hover,
.menu-primary .current_page_item li a,
.menu-primary .current-cat li a,
.menu-primary .current-menu-item li a {
	border: none;
	color: #131212;
	font-size: 15px;
	letter-spacing: 0;
	margin: 0;
	position: relative;
	text-transform: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.menu-primary li:hover li a {
	margin: 0;
}

.menu-primary li li:first-child > a {
	background: none;
}
/*
Brown Footer Background
.menu-item-has-children:hover,
.menu-primary li li a:active,
.menu-primary li li a:hover {
	color: #fff;
	background-color: $secondary-color;
}*/
.menu-item-has-children:hover,
.menu-primary li li a:active,
.menu-primary li li a:hover  {
	color: #fff;
	background-color: #d65129;
	/*text-decoration: underline;*/
}
.menu-primary > li:hover{
	background-color: transparent;
	color:$tertiary-color;
}
.menu-primary li ul {
	/*background: #F7F7FA;*/
	background: #fff;
	border: 2px solid #131212;
	height: auto;
	left: -9999px;
	margin: 0 0 0 5px;
	position: absolute;
	width: 200px;
	z-index: 9999;
	//padding: 20px;
	padding: 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.menu-primary li ul a {
	padding: 15px;
	//width: 170px;
}

.menu-primary li ul ul {
	margin: -45px 0 0 145px;
}

.menu li:hover ul ul,
.menu li.sfHover ul ul {
	left: -9999px;
}

.menu li:hover,
.menu li.sfHover {
	position: static;
}

ul.menu li:hover>ul,
ul.menu li.sfHover ul {
	left: auto;
}

ul.sub-menu > li:hover>a{
	color: #fff;
}
.menu li li a .sf-sub-indicator,
.menu li li li a .sf-sub-indicator {
	height: 16px;
	position: absolute;
	right: 0;
	text-indent: -9999px;
	top: 18px;
	width: 16px;
}

#wpadminbar li:hover ul ul {
	left: 0;
}

/*Secondary Menu
------------------------------------------------------------ */
.nav-secondary {
	background: #F7F7FA;
	display: none;
	float: left;
	padding: 10px 0 0;
	padding: 1rem 0 0;
	text-align: center;
	width: 100%;
	position: fixed;
	z-index: 99999;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	
}
.menu-secondary {
	clear: both;
	color: #131212;
	line-height: 20px;
	margin: 0 auto;
	overflow: hidden;
	width: auto;
}

.menu-secondary ul {
	width: auto;
}

.menu-secondary li {
	display: inline-block;
	list-style-type: none;
	position: relative;
}

.menu-secondary .sub-menu li {
	display: block;
	text-align: left;
}

.menu-secondary a {
	border: 2px solid rgba(0, 0, 0, 0);
	color: #131212;
	letter-spacing: 1px;
	display: block;
	padding: 8px 15px;
	margin-left: 5px;
	margin-bottom: 10px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.menu-secondary li a:active,
.menu-secondary li a:hover,
.menu-secondary > .current_page_item a,
.menu-secondary > .current-cat a,
.menu-secondary > .current-menu-item a,
.menu-secondary li.dropdown:hover > a {
	color: #131212;
	border: 2px solid #131212;
	background: rgba(0, 0, 0, 0);
}

.menu-secondary li.dropdown:hover > a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.menu-secondary li li a,
.menu-secondary li li a:hover,
.menu-secondary .current_page_item li a,
.menu-secondary .current-cat li a,
.menu-secondary .current-menu-item li a {
	border: none;
	color: #131212;
	font-size: 15px;
	letter-spacing: 0;
	margin: 0;
	padding: 10px 0;
	position: relative;
	text-transform: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.menu-secondary li:hover li a {
	margin: 0;
}
.menu-secondary li li:first-child > a {
	background: none;
}

.menu-secondary li li a:active,
.menu-secondary li li a:hover {
	color: #FF304E;
	text-decoration: underline;
}

.menu-secondary li ul {
	background: #F7F7FA;
	border: 2px solid #131212;
	height: auto;
	left: -9999px;
	margin: 0 0 0 5px;
	position: absolute;
	width: 200px;
	z-index: 9999;
	padding: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.menu-secondary li ul a {
	width: 170px;
}

.menu-secondary li ul ul {
	margin: -45px 0 0 145px;
}


/* Primary Navigation Extras
------------------------------------------------------------ */

.menu li.right {
	display: none;
	float: right;
}