/* Homepage Template adjustment 
 ------------------------------------------------------------ */ 

.page-template-homepage-template-php{
	.nav-primary{
		margin-right:0;
	}
	.site-inner {
		margin-top: 0
	}
	.slider_shortcode {
	margin: 0 0 20px;
	margin: 0 0 rem-calc(20);
	}
	header, #home-wrap {
		margin-top: 0;
		padding:0 15px;
	}
	.slider_shortcode_mobile .mobile_slider_button_wrapper{
		padding:20px 0;
	}
	
}
.page-template-page_landing-php {
    margin: 80px 0 0;
    margin: 8rem 0 0;
}
/* Home Page Default 
 ------------------------------------------------------------ */ 
.welcome_message {
	margin: 40px auto;
	margin: 4rem auto;
	padding: 0 100px;
	padding: 0 10rem;
	text-align: center;
}
/*slider
--------------------------------------------------------------*/
.page.page-template-homepage-template-php .slides>li a{	
	color: #fff;
	background-color: transparent;
	border-color: #fff;
	&:hover{
		//background-color:rgba(5,53,79,0.7);
		background-color:rgba(214,81,41,0.7);
		background-color:rgba(51,51,51,0.7);
	}
}