/* breadcrumbs
 ------------------------------------------------------------ */ 
.breadcrumb {
	//border-bottom: 2px solid #131212;
	font-size: 14px;
	font-size: rem-calc(14);
	padding: 0;
	padding: 0;
	margin-bottom: 0;
	margin-bottom: 0;
}
.breadcrumbs{
	margin-top: 10px;
 	a{
 		color:$tertiary-color;
 		&:hover{color:#A68879; }
 	}
	.row{
		a:hover{
			text-decoration: underline;
		}
	}
	&>*:hover a, &>*:focus a {
 		text-decoration: none;
	}
	.row{
		margin:0 auto 0;
		float:none;
	}
}