/* Pages 
------------------------------------------------------------ */
 .svg .page{
 	.entry {
		background: url(images/flower.svg) no-repeat bottom right;
		background-size: 245px 100px;
	}
	.before-more-information{
		background: url(images/grass.svg) repeat-x bottom center;
		background-size: 40px 18px;
	}
 }
.page {
	.post_content {
		padding: 0;
	}
	.entry {
		padding: 0 0 50px 0;
		background: url(images/flower.png) no-repeat bottom right;
		background-size: 245px 100px;

	}
	.before-more-information{
		background: url(images/grass.png) repeat-x bottom center;
		background-size: 20px 9px;
		height:20px;
		margin-top:-20px;
	}
	.media_container{
		text-align: center;
	}
}