/* Typographical Elements
--------------------------------------------- */

html, body {
	height:100%;
}
html {
	/*font-size: 62.5%;*/ /* 10px browser default */
}
body {
	/*background: #F7F7FA;*/
	background: #FFF;
	color: #131212;
	font: 400 16px/1.625 'Roboto', sans-serif;
	font-size: 1rem;
	word-wrap: break-word;
}
hr {
	border: none;
	border-top: 2px solid #131212;
	height: 2px;
	margin-top: 40px;
	margin-bottom: 40px;
	border: solid #ddd;
  	border-width: 1px 0 0;
  	clear: both;
 	height: 0;
  	margin: 1.25rem 0 1.1875rem;
}
hr.small {
	border: none;
	border-top: 2px solid #131212;
	height: 2px;
	margin-top: 0;
	margin-bottom: 30px;
	width: 35%;
	max-width: 35%;
    margin: 0px auto 30px;
}

img {
	vertical-align: middle;
	border: none;
}
ol, ul {
	margin: 0;
	padding: 0;
}


.fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
	border: none;
}
address {
	font-style: italic;
}
abbr[title], acronym[title], dfn[title] {
	cursor: help;
	border-bottom: 1px dotted #666;
}
strong {
	font-weight: bold;
}
em, dfn, cite {
	font-style: italic;
}
dfn {
	font-weight: bold;
}
sup {
	font-size: 11px;
	vertical-align: top;
}
sub {
	font-size: 11px;
	vertical-align: bottom;
}
small {
	font-size: 11px;
}
del {
	text-decoration: line-through;
}
ins {
	text-decoration: underline;
}
address {
  margin-bottom: 23px;
  font-style: normal;
  line-height: 1.642857143;
}
code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: pre-wrap;
  border-radius: 4px;
}
pre {
  display: block;
  padding: 11px;
  margin: 0 0 11.5px;
  font-size: 13px;
  line-height: 1.642857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #4a4a4a;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
ul, ol, dl {
	margin-left: 30px;
}
.widget-wrap > ul {
	margin-left: 0;
}
.post-date {
	display: block;
	font-size: 14px;
	font-size: 1.4rem;
}
table {
	border: 1px solid #ccc;
	border-width: 1px;
	line-height: 18px;
	margin: 0 0 22px 0;
	text-align: left;
	padding: 0 5px;
}
table .even {
	background: #999;
}
caption {
	text-align: left;
}
tr {
	border-bottom: 1px solid #ccc;
}
th, td {
	padding: 5px;
	vertical-align: middle;
	text-align: center;
}