.no_top_margin{
        margin-top: 0;
}
.no_bottom_margin{
    margin-bottom: 0;
}
.no_tb_margin_centered{
    margin:0 auto;
}
.no_top_padding{
    padding-top: 0;
}
.no_bottom_padding{
    padding-bottom: 0;
}
.top_bottom_margin{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.top_margin{
	margin-top: 4rem;
}
.bottom_margin{
	margin-bottom: 4rem;
}