/* social icons Widgets 
------------------------------------------------------------ */ 
.bottom-widget .zp_social_icons .alignleft, .bottom-widget .zp_social_icons .alignright {
    float: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.bottom-widget .zp_social_icons ul li {
	float: none;
	display: inline-block;
}

.bottom-widget .zp_social_icons ul li a {
	height: 60px;
	line-height: 60px;
	width: 60px;
}